### Exercise 1:
- Goal: Here we use users table to pull a list of user email addresses. Edit the query to pull email
- addresses, but only for non-deleted users.
- Starter Code:
- SELECT * FROM dsv1069.users

In [6]:
''' SELECT email_address 
FROM dsv1069.users
where deleted_at is not null '''

' SELECT email_address \nFROM dsv1069.users\nwhere deleted_at is not null '

### Exercise 2:
--Goal: Use the items table to count the number of items for sale in each category
1) Starter Code: (none)

In [7]:
''' SELECT category , count(distinct id) AS items_count 
FROM dsv1069.items 
GROUP BY category '''

' SELECT category , count(distinct id) AS items_count \nFROM dsv1069.items \nGROUP BY category '

### Exercise 3:
--Goal: Select all of the columns from the result when you JOIN the users table to the orders
table
1) Starter Code: (none)

In [8]:
''' SELECT * FROM dsv1069.users AS u
inner join dsv1069.orders AS o
ON u.id = o.user_id '''

' SELECT * FROM dsv1069.users AS u\ninner join dsv1069.orders AS o\nON u.id = o.user_id '

### Exercise 4:
--Goal: Check out the query below. This is not the right way to count the number of viewed_item
events. Determine what is wrong and correct the error.
1) Starter Code:
>> SELECT
COUNT(event_id) AS events
FROM dsv1069.events
WHERE event_name = ‘view_item’

>>> the previous query wrong because the item id will appear many items when as many customers make orders

In [11]:
''' 
SELECT count(distinct item_id) 
FROM dsv1069.items as i 
inner join dsv1069.orders as o
ON i.id = o.item_id '''


#OR 


''' SELECT count(distinct id)  FROM dsv1069.items
where id in ( SELECT DISTINCT item_id from  dsv1069.orders) '''

' SELECT count(distinct id)  FROM dsv1069.items\nwhere id in ( SELECT DISTINCT item_id from  dsv1069.orders) '

### Exercise 6:
>> Goal: For each user figure out IF a user has ordered something, and when their first purchase
was. The query below doesn’t return info for any of the users who haven’t ordered anything.

### Part1)
>> SELECT u.id as user_id , COALESCE(CAST(o.created_at AS VARCHAR) , 'NO ORDERS')
FROM dsv1069.users as u
LEFT join  dsv1069.orders as o 
ON u.id = o.user_id 

>> SELECT u.id as user_id , o.created_at , case when o.created_at IS null THEN 'no orders for this user'
                              when o.created_at is not null THEN 'user has ordered something'
                              END AS users_orders_flag
FROM dsv1069.users as u
LEFT join  dsv1069.orders as o 
ON u.id = o.user_id 

### Part 2 : users first order date
>> WITH CTE AS (SELECT u.id as user_id , o.created_at , case when o.created_at IS null THEN 0
                              when o.created_at is not null THEN 1
                              END AS users_orders_flag,
row_number() OVER(PARTITION BY u.id ORDER BY o.created_at ASC) AS ranking 
FROM dsv1069.users as u
LEFT join  dsv1069.orders as o 
ON u.id = o.user_id ) 
SELECT user_id AS user , created_at AS user_first_order_date FROM CTE 
WHERE ranking = 1 and users_orders_flag = 1

### Exercise 7:
--Goal: Figure out what percent of users have ever viewed the user profile page, but this query
isn’t right. Check to make sure the number of users adds up, and if not, fix the query

> with cte as ( SELECT u.id as id , min(e.event_time) as min_time
from dsv1069.users as u 
left join dsv1069.events as e
on u.id = e.user_id
-- where event_name = 'view_user_profile'
group by u.id) 
SELECT case when min_time IS null then 0 ELSE 1 END AS flag , COUNT(DISTINCT id)
FROM CTE 
GROUP BY case when min_time IS null then 0 ELSE 1 END